<div class="m-4">
    <h2>Список департаментов</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="col-1">№</th>
                <th scope="col" class="col-3">Название</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments; let i = index" (click)="save(department)">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{department.name}}</td>
            </tr>
        </tbody>
    </table>
</div>